<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/chat">Chat</a>
            </div>
        </div>

        <div style="display:flex;gap:20px;">
            <div class="text-light">

                <div class="btn-group">
                    <div type="button" class="dropdown-toggle" data-bs-toggle="dropdown"
                        data-bs-display="static" aria-expanded="false">

                        <!-- User Info -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>

                        {% if not user.is_anonymous %}
                        
                        {{ user }}
                        
                        {% else %}
                        
                        anonymous

                        {% endif %}

                    </div>
                    <ul class="dropdown-menu dropdown-menu-lg-end">
                        {% if not user.is_anonymous %}
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="/accounts/login/">Login</a></li>
                        <li><a class="dropdown-item" href="/user/signup/">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </div>

            </div>

        </div>
    </div>

    </div>
</nav>